body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
    width: 100%;
}

.float-right {
    float: right;
} 

.align-right {
    text-align: right;
}


thead {
    background-color: var(--background);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="grid-"] {
        grid-template-columns: 1fr;
        gap:0rem;
    }
  }

