<option selected value="{{ customer.rank.pk }}">
    {{ customer.rank }}
  </option>
  {% for rank in ranks %}
  {% if rank != customer.rank %}
    <option value="{{ rank.pk }}">
      {{ rank.name }}
    </option>
  {% endif %}
  {% endfor %}
