{% extends "base.html" %}

{% block title %}<title>Bank admin</title>{% endblock %}

{% block main %}

<h1>Welcome {{ user }}!</h1>

<section class="">

<div id="loan_requests">
    <h2>Loan Requests</h2>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer</th>
              <th>Status</th>
              <th>Amount</th>
              <th>Date</th> 
              <th></th>
            </tr>
          </thead>
          <tbody>
    {% for loan_request in loan_requests %}
    {% if loan_request.status == "not reviewed" %}
    
    <tr id="loan_request_{{ loan_request.id }}">
        <td>{{loan_request.id}}</td>
        <td>{{ loan_request.customer.full_name}}</td>
        <td> {% if loan_request.status == "approved" %}
        Approved
        {% endif %}
        {% if loan_request.status == "declined" %}
        Declined
        {% endif %}
        {% if loan_request.status == "not reviewed" %}
        Not Reviewed
        {% endif %}</td>
       
        <td>{{loan_request.loan_amount}}</td>
        
        <td>{{loan_request.created_at}}</td>
        
        <td class="button-container">
            <button 
                hx-target="closest .button-container" 
                hx-swap="innerHTML"
                hx-confirm="Are you sure you want to approve this loan request?"
                hx-on="htmx:responseError: alert('Error while handling request')"
                hx-post="{% url 'bank_app:approve_loan_request' loan_request.id %}"
                hx-trigger="click"
                value="approved"
                name="approve_loan_request">
                Approve
            </button>
            <button
                hx-target="closest .button-container"
                hx-swap="innerHTML"
                hx-confirm="Are you sure you want to decline this loan?"
                hx-on="htmx:responseError: alert('Error while handling request')"
                hx-delete="{% url 'bank_app:decline_loan_request' loan_request.id %}"
                name="decline_loan_request"
                hx-trigger="click"
                value="declined"
                >
                Decline
            </button>

        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>
</div>
</section>
<hr>

<section class="">
<div id="account_requests">
    <h2>Account Requests</h2>

    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Status</th>
            <th></th>
            <th>Date</th> 
            <th></th>
          </tr>
        </thead>
        <tbody>
    {% for account_request in account_requests %}
    {% if account_request.status == "not reviewed" %}
    <tr id="account_request_{{ account_request.id }}">
        <td> {{account_request.id}} </td>
        <td> {{ account_request.customer.full_name}}</td>
        <td>{% if account_request.status == "approved" %}
        Approved
        {% endif %}
        {% if account_request.status == "declined" %}
        Declined
        {% endif %}
        {% if account_request.status == "not reviewed" %}
        Not Reviewed
        {% endif %}</td>
        <td>
        {{account_request.account_amount}}</td>
        <td>
        {{account_request.created_at}}</td>
        <td class="button-container">
            <button hx-target="closest .button-container" 
                hx-swap="innerHTML"
                hx-confirm="Are you sure you want to approve this account request?"
                hx-on="htmx:responseError: alert('Error while handling request')"
                hx-post="{% url 'bank_app:approve_account_request' account_request.id %}" 
                hx-trigger="click"
                value="approved" name="approve_account_request">
                Approve
            </button>
            <button hx-target="closest .button-container" 
                hx-swap="innerHTML"
                hx-confirm="Are you sure you want to decline this account request?"
                hx-on="htmx:responseError: alert('Error while handling request')"
                hx-delete="{% url 'bank_app:decline_account_request' account_request.id %}" 
                value="declined">
                Decline
            </button>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>
</div>
</section>
<hr>

<section class="grid-2">

<div id="approved_loan_requests">
    <h2>Approved loans</h2>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Customer</th>
          <th>Title</th>
          <th>Amount</th>
          <th >Approved by</th>
        
        </tr>
      </thead>
    <tbody>
    {% for approved_loan_request in approved_loan_requests %}

    <tr>
        <td>{{approved_loan_request.id}}</td>
        <td>{{approved_loan_request.account.customer.full_name}}</td>
        <td>{{approved_loan_request.account.title}}</td>
       <td>{{approved_loan_request.loan_request.loan_amount}}</td>
       <td>{{approved_loan_request.approved_by}}</td>
    </tr>

    {% endfor %}
</tbody>
</table>
</div>





   
    <div id="approved_loan_requests">
         <h2>All Loans</h2>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer</th>
              <th>Title</th>
              <th>Balance</th>
            
            </tr>
          </thead>
        <tbody>
            {% for account in accounts %}
            {% if account.is_loan == True %} 
        <tr>
            <td>{{account.id}}</td>
            <td>{{account.customer.full_name}}</td>
            <td>{{account.title}}</td>
            <td>{{account.balance}}</td>
          
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
    </div>
    </section>


    <section class="">
        <h2>All Accounts</h2>
        <div id="approved_loan_requests">
            <table>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Customer</th>
                  <th>Title</th>
                  <th>Balance</th>
                
                </tr>
              </thead>
            <tbody>
                {% for account in accounts %}
    {% if account.is_loan == False %}
            <tr>
                <td>{{account.id}}</td>
                <td>{{account.customer.full_name}}</td>
                <td>{{account.title}}</td>
                <td>{{account.balance}}</td>
              
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
        </div>
        </section>



{% endblock %}
