{% extends "base.html" %}

{% block title %}<title>{{ user.first_name }}'s Dashboard</title>{% endblock %}

{% block main %}
{% load bank_app_extras %}

<section class="grid-2">
  <div>
  {% if user.is_staff and customer.user != user %}
  <h1>{{ customer.customer_name }}</h1>
  {% else %}
  <h1>Welcome {{ customer.customer_name }}!</h1>
  {% endif %}
  
  {% if not user.is_staff %}
  <p>Account rank: <strong>{{rank.name}}</strong></p>
  {% else %}
  <label for="selected_rank">Rank</label>
  <select x-ref="select"
          id="selected_rank"
          name="selected_rank"
          hx-trigger="change"
          hx-on="htmx:responseError: alert('Rank change failed')"
          hx-post="{% url 'bank_app:change_rank' customer.pk %}"
          hx-swap="innerHTML"
          hx-target="this"
          >
          {% include "bank_app/partials/rank_selector.html" %}
  </select>
  {% endif %}
</div>
<form method="post" >
  <br>
  {% csrf_token %}
    <div>
      {{ form.as_p }}
    </div>
</form>
</section>
<section class="grid-2">
  <div>
    <h2>Accounts</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th class="align-right">Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
        {% if account.is_loan == False %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.title }}</td>
          <td class="align-right">{{ account.balance|floatformat:2|mul:conversion_rate }} {{ request.session.selected_currency }}</td>
          <td class="float-right" ><a href="{% url 'bank_app:account_details' account.id %}">More</a></td>
        </tr>
        {% endif %}
        {% empty %}
        <p>No accounts</p>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <h2>Loans</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th class="float-right">Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for loan in accounts %}
        {% if loan.is_loan == True %}
        <tr>
          <td>{{loan.id }}</td>
          <td>{{loan.title}}</td>
          <td class="align-right">{{ loan.balance|floatformat:2|mul:conversion_rate }} {{ request.session.selected_currency }}</td>
        </tr>
        {% endif %}
        {% empty %}
        <p>No loans</p>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<hr>
<br>
<h2>Pending requests</h2>
    <blockquote>Please note that each request must be approved by an employee before it can be processed</blockquote>
<section class="grid-2">
  <div>
    <h3>Account requests</h3>
      <ul>
        {% for account_request in account_requests %}
          {% if account_request.status == "not reviewed" %}
            <li>Requested: {{account_request.created_at}}</li>
          {% endif %}
          {% empty %}
          <p>No pending account requests</p>
          {% if user.is_staff == False or admin_customer %}
          <button><a href="{% url 'bank_app:make_account_request' %}">Apply for an account</a></button>
          {% endif %}
        {% endfor %}
      </ul>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Loan requests</h3>
        {% for loan_request in loan_requests %}
          {% if loan_request.status == "not reviewed" %}
          <ul>
            <li><span>Requested: {{loan_request.created_at}} </span><strong> {{ loan_request.loan_amount|floatformat:2|mul:conversion_rate }} {{ request.session.selected_currency }}</strong></li>
          </ul>
          {% endif %}
          {% empty %}
          <p>No pending loan requests</p>
          {% if user.is_staff == False or admin_customer %}
          <button><a href="{% url 'bank_app:make_loan_request' %}">Apply for a loan</a></button>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}