<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/"><i data-src="{{ site.baseurl }}/assets/favicon.png"></i></a></li>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/features/">Features</a></li>
    </ul>
</nav>