<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="foo,bar"/>
    <meta name="description" content="foo"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
</head>
<body>
    {% include navigation.html %}
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% include footer.html %}
</body>
</html>
