{% extends "base.html" %}

  {% block main %}

    {% if request.user.is_authenticated %}
    <p>You are logged in as {{ user.username }}</p>
    {% endif %}

    <fieldset>
      {% block content %}{% endblock %}
    </fieldset>
  {% endblock %}
