{% load i18n %}
 {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
        >{% trans "Back" %}</button>
{% endif %} 

{% if wizard.steps.current == 'auth' %}
<button type="submit">{% trans "Login" %}</button>
{% else %}
<button type="submit">{% trans "Next" %}</button>
{% endif %} 